<div class="row">
            <div class="col-xs-12">
                <h4>All-Time Overall</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1 text-center">Total</th>
                    <th class="col-xs-1 text-center">Pass</th>
                    <th class="col-xs-1 text-center">Defective</th>
                    <th class="col-xs-1 text-center">Auto Total</th>
                    <th class="col-xs-1 text-center">Auto Pass</th>
                    <th class="col-xs-1 text-center">Auto Defective</th>
                    <th class="col-xs-1 text-center">Rework %</th>
                    <th class="col-xs-1 text-center">Auto %</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0%</td>
                        <td class="text-center">0%</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>