<div class="row">
            <div class="col-xs-12">
                <h4>All-Time Usage</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="4" class="text-center" style="border-bottom: 0px; background-color: #F0F8FF; cursor: default;"><small>Manual</small></th>
                    <th colspan="5" class="text-center" style="border-bottom: 0px; background-color: #FFF0F5; cursor: default;"><small>Pheme</small></th>
                </tr>
                <tr>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #F0F8FF; cursor: default;" title="Count of recordings downloaded and tested"><small>Total</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #F0F8FF; cursor: default;" title="Count of recordings downloaded and passed"><small>Passed</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #F0F8FF; cursor: default;" title="Count of recordings downloaded and failed"><small>Defective</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #F0F8FF; cursor: default;" title="Ratio between manual tests run and slots tested. Higher number indicates more rework."><small>Rework</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #FFF0F5; cursor: default;" title="Count of times Pheme changed the status of a prompt without a tester downloading the recording."><small>Total</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #FFF0F5; cursor: default;" title="Number of times Pheme automatically passed a slot (e.g., when the checksums matched)."><small>Passed</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #FFF0F5; cursor: default;" title="Number of times Pheme automatically failed a slot (e.g., when the checksums matched)."><small>Defective</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #FFF0F5; cursor: default;" title="Number of times Pheme marked a new or previously found slot as missing."><small>Missing</small></th>
                    <th class="col-xs-1 text-center" style="border-top: 0px; background-color: #FFF0F5; cursor: default;" title="Ratio between automatic tests run and manual tests run. Higher number indicates more automation."><small>Ratio</small></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{ overall.total }}</td>
                        <td class="text-center">{{ overall.passed }}</td>
                        <td class="text-center">{{ overall.defective }}</td>
                        <td class="text-center">{{ overall.rework_ratio|floatformat:2 }}</td>
                        <td class="text-center">{{ overall.auto_total }}</td>
                        <td class="text-center">{{ overall.auto_passed }}</td>
                        <td class="text-center">{{ overall.auto_defective }}</td>
                        <td class="text-center">{{ overall.auto_missing }}</td>
                        <td class="text-center">{{ overall.auto_ratio|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>