{% extends "core/base.html" %}
{% block title %}Reports{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Usage</h3>
            </div>
        </div>
    <hr>
        {% include "usage/overall.html" %}
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li><a href="{% url "usage:users" %}">Users</a></li>
                    <li class="active"><a href="{% url "usage:projects" %}">Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="tab_content" class="tab-content">
                <div class="tab-pane active">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-xs-2 text-left">
                                {% if sort == 'project_name' %}
                                    <a href="{% url 'usage:projects' %}?sort=-project_name">
                                        Project Name</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-project_name' %}
                                    <a href="{% url 'usage:projects' %}?sort=project_name">
                                        Project Name</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=project_name">
                                        Project Name</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'total' %}
                                    <a href="{% url 'usage:projects' %}?sort=-total">
                                        Total</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-total' %}
                                    <a href="{% url 'usage:projects' %}?sort=total">
                                        Total</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=total">
                                        Total</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'passed' %}
                                    <a href="{% url 'usage:projects' %}?sort=-passed">
                                        Passed</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-passed' %}
                                    <a href="{% url 'usage:projects' %}?sort=passed">
                                        Passed</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=passed">
                                        Passed</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'defective' %}
                                    <a href="{% url 'usage:projects' %}?sort=-defective">
                                        Defective</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-defective' %}
                                    <a href="{% url 'usage:projects' %}?sort=defective">
                                        Defective</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=defective">
                                        Defective</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'auto_total' %}
                                    <a href="{% url 'usage:projects' %}?sort=-auto_total">
                                        Auto Total</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-auto_total' %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_total">
                                        Auto Total</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_total">
                                        Auto Total</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'auto_passed' %}
                                    <a href="{% url 'usage:projects' %}?sort=-auto_passed">
                                        Auto Passed</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-auto_passed' %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_passed">
                                        Auto Passed</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_passed">
                                        Auto Passed</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'auto_defective' %}
                                    <a href="{% url 'usage:projects' %}?sort=-auto_defective">
                                        Auto Defective</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-auto_defective' %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_defective">
                                        Auto Defective</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_defective">
                                        Auto Defective</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'auto_missing' %}
                                    <a href="{% url 'usage:projects' %}?sort=-auto_missing">
                                        Auto Missing</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-auto_missing' %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_missing">
                                        Auto Missing</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_missing">
                                        Auto Missing</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'rework_ratio' %}
                                    <a href="{% url 'usage:projects' %}?sort=-rework_ratio">
                                        Rework Ratio</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-rework_ratio' %}
                                    <a href="{% url 'usage:projects' %}?sort=rework_ratio">
                                        Rework Ratio</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=rework_ratio">
                                        Rework Ratio</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                {% if sort == 'auto_ratio' %}
                                    <a href="{% url 'usage:projects' %}?sort=-auto_ratio">
                                        Auto Ratio</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                {% elif sort == '-auto_ratio' %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_ratio">
                                        Auto Ratio</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                {% else %}
                                    <a href="{% url 'usage:projects' %}?sort=auto_ratio">
                                        Auto Ratio</a>&nbsp;<i class="fa fa-sort"></i>
                                {% endif %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in projects %}
                            <tr>
                                <td class="text-left">
                                    <button class="btn-link" data-toggle="modal" data-target="#modal_project" data-url="{% url 'usage:project' p.project.pk %}">
                                        {{ p.project.name }}
                                    </button>
                                </td>
                                <td class="text-center">{{ p.total }}</td>
                                <td class="text-center">{{ p.passed }}</td>
                                <td class="text-center">{{ p.defective }}</td>
                                <td class="text-center">{{ p.auto_total }}</td>
                                <td class="text-center">{{ p.auto_passed }}</td>
                                <td class="text-center">{{ p.auto_defective }}</td>
                                <td class="text-center">{{ p.auto_missing }}</td>
                                <td class="text-center">{{ p.rework_ratio|floatformat:2 }}</td>
                                <td class="text-center">{{ p.auto_ratio|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'usage/project_modal.html' %}
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        {% include 'usage/usage.js' %}
    </script>
{% endblock %}