{% extends "core/base.html" %}
{% block title %}Reports{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Usage</h3>
            </div>
        </div>
    <hr>
        {% include "usage/overall.html" %}
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="{% url "usage:users" %}">Users</a></li>
                    <li><a href="{% url "usage:projects" %}">Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="tab_content" class="tab-content">
                <div class="tab-pane active">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-xs-2 text-left">
                                    {% if sort == 'username' %}
                                        <a href="{% url 'usage:users' %}?sort=-username">
                                            Username</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-username' %}
                                        <a href="{% url 'usage:users' %}?sort=username">
                                            Username</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=username">
                                            Username</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                    {% if sort == 'total' %}
                                        <a href="{% url 'usage:users' %}?sort=-total">
                                            Total</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-total' %}
                                        <a href="{% url 'usage:users' %}?sort=total">
                                            Total</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=total">
                                            Total</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                    {% if sort == 'passed' %}
                                        <a href="{% url 'usage:users' %}?sort=-passed">
                                            Passed</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-passed' %}
                                        <a href="{% url 'usage:users' %}?sort=passed">
                                            Passed</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=passed">
                                            Passed</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                    {% if sort == 'defective' %}
                                        <a href="{% url 'usage:users' %}?sort=-defective">
                                            Defective</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-defective' %}
                                        <a href="{% url 'usage:users' %}?sort=defective">
                                            Defective</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=defective">
                                            Defective</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                    {% if sort == 'reports' %}
                                        <a href="{% url 'usage:users' %}?sort=-reports">
                                            Reports Run</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-reports' %}
                                        <a href="{% url 'usage:users' %}?sort=reports">
                                            Reports Run</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=reports">
                                            Reports Run</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                    {% if sort == 'uploads' %}
                                        <a href="{% url 'usage:users' %}?sort=-uploads">
                                            Uploads</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-uploads' %}
                                        <a href="{% url 'usage:users' %}?sort=uploads">
                                            Uploads</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=uploads">
                                            Uploads</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center">
                                    {% if sort == 'projects' %}
                                        <a href="{% url 'usage:users' %}?sort=-projects">
                                            Projects Created</a>&nbsp;<i class="fa fa-sort-asc"></i>
                                    {% elif sort == '-projects' %}
                                        <a href="{% url 'usage:users' %}?sort=projects">
                                            Projects Created</a>&nbsp;<i class="fa fa-sort-desc"></i>
                                    {% else %}
                                        <a href="{% url 'usage:users' %}?sort=projects">
                                            Projects Created</a>&nbsp;<i class="fa fa-sort"></i>
                                    {% endif %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in users %}
                            <tr>
                                <td class="text-left">
                                    <button class="btn-link" data-toggle="modal" data-target="#modal_user" data-url="{% url 'usage:user' u.user.pk %}">
                                        {{ u.user.username }}
                                    </button>
                                </td>
                                <td class="text-center">{{ u.total }}</td>
                                <td class="text-center">{{ u.passed }}</td>
                                <td class="text-center">{{ u.defective }}</td>
                                <td class="text-center">{{ u.reports }}</td>
                                <td class="text-center">{{ u.uploads }}</td>
                                <td class="text-center">{{ u.projects }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'usage/user_modal.html' %}
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        {% include 'usage/usage.js' %}
    </script>
{% endblock %}