{% extends "core/base.html" %}
{% block title %}Reports{% endblock %}
{% load staticfiles %}
{% block headscript %}
    <link href="{% static 'common/bootstrap-daterangepicker/1.2/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .query-field {
            background: #ffffff;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
            color: #333333;
            padding: 8px;
            line-height: 18px;
            cursor: pointer;
        }

        a.sort-field:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Usage</h3>
            </div>
        </div>
        <hr>
        {% include "usage/overall.html" %}
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="{% url "usage:users" %}">Users</a></li>
                    <li><a href="{% url "usage:projects" %}">Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="tab_content" class="tab-content">
                <div class="tab-pane active">
                    <div class="col-xs-12">
                        <div id="report-range" class="query-field pull-right">
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-calendar"></i>
                            <span id="report-range-display"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br>
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-xs-2 text-left">
                                    {% if sort == 'username' %}
                                        <small><a href="#" class="sort-field" data-field="-username">
                                            Username</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-username' %}
                                        <small><a href="#" class="sort-field" data-field="username">
                                            Username</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="username">
                                            Username</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center" title="Count of recordings user has tested.">
                                    {% if sort == 'total' %}
                                        <small><a href="#" class="sort-field" data-field="-total">
                                            Total</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-total' %}
                                        <small><a href="#" class="sort-field" data-field="total">
                                            Total</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="total">
                                            Total</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center" title="Count of recordings user has passed.">
                                    {% if sort == 'passed' %}
                                        <small><a href="#" class="sort-field" data-field="-passed">
                                            Passed</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-passed' %}
                                        <small><a href="#" class="sort-field" data-field="passed">
                                            Passed</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="passed">
                                            Passed</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center" title="Count of recordings user has failed.">
                                    {% if sort == 'defective' %}
                                        <small><a href="#" class="sort-field" data-field="-defective">
                                            Defective</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-defective' %}
                                        <small><a href="#" class="sort-field" data-field="defective">
                                            Defective</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="defective">
                                            Defective</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center" title="Progress, defective, and missing reports user viewed.">
                                    {% if sort == 'reports' %}
                                        <small><a href="#" class="sort-field" data-field="-reports">
                                            Reports</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-reports' %}
                                        <small><a href="#" class="sort-field" data-field="reports">
                                            Reports</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="reports">
                                            Reports</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center" title="VUIDs user uploaded.">
                                    {% if sort == 'uploads' %}
                                        <small><a href="#" class="sort-field" data-field="-uploads">
                                            Uploads</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-uploads' %}
                                        <small><a href="#" class="sort-field" data-field="uploads">
                                            Uploads</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="uploads">
                                            Uploads</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                                <th class="col-xs-1 text-center" title="Projects user created.">
                                    {% if sort == 'projects' %}
                                        <small><a href="#" class="sort-field" data-field="-projects">
                                            Projects</a>&nbsp;<i class="fa fa-sort-asc"></i></small>
                                    {% elif sort == '-projects' %}
                                        <small><a href="#" class="sort-field" data-field="projects">
                                            Projects</a>&nbsp;<i class="fa fa-sort-desc"></i></small>
                                    {% else %}
                                        <small><a href="#" class="sort-field" data-field="projects">
                                            Projects</a>&nbsp;<i class="fa fa-sort"></i></small>
                                    {% endif %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in users %}
                                {% if u.user.last_name %}
                                    <tr>
                                        <td class="text-left">
                                            <button class="btn-link show-user" data-target="#modal_user" data-url="{% url 'usage:user' u.user.pk %}">
                                                {{ u.user.username }}
                                            </button>
                                        </td>
                                        <td class="text-center">{{ u.total }}</td>
                                        <td class="text-center">{{ u.passed }}</td>
                                        <td class="text-center">{{ u.defective }}</td>
                                        <td class="text-center">{{ u.reports }}</td>
                                        <td class="text-center">{{ u.uploads }}</td>
                                        <td class="text-center">{{ u.projects }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'usage/user_modal.html' %}
{% endblock %}
{% block endscript %}
    <script type='text/javascript' src="{% static 'common/bootstrap-daterangepicker/1.2/moment.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/momentjs/tz/0.2.4/moment-timezone-with-data-2010-2020.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bootstrap-daterangepicker/1.2/daterangepicker.js' %}"></script>
    <script type="text/javascript">
        {% include 'usage/usage.js' %}

        $('.show-user').on('click', function (event) {
            var button = $(this);
            var url = button.data('url');
            var modal = $(button.data('target'));
            $.get(url, function() {

            })
            .done(function(data) {
                modal.find('.modal-title').text(data.username);
                contents = '<h5 class="text-center">Activity Feed</h5><hr style="margin-top: 5px; margin-bottom: 5px">';
                for (i = 0; i < data.actions.length; i++) {
                    contents += '<h5 class="pull-left text-left" style="width: 48%;">' + data.actions[i].project_name + '</h5>';
                    contents += '<h6 class="pull-right text-right" style="width: 48%;">' + data.actions[i].time + '</h6>';
                    contents += '<div class="clearfix"></div>';
                    contents += '<p>' + data.actions[i].description + '</p>';
                    contents += '<hr style="margin-top: 5px; margin-bottom: 5px">';
                }
                modal.find('.modal-body').html(contents);
                modal.modal('show');
            })
            .fail(function() {
                modal.find('.modal-title').text('Error');
                modal.find('.modal-body').text('Unable to get data from server');
                modal.modal('show');
            });
        });
        $('#modal_user').on('hidden.bs.modal', function (event) {
            var modal = $(this);
            modal.find('.modal-title').text('');
            modal.find('.modal-body').text('');
        });

        $(function() {
            setTab('users');
            {% if sort %}
                setSort("{{ sort }}");
            {% endif %}
            setStartDate("{{ start }}");
            setEndDate("{{ end }}");
            attachDateRangePicker();
        });
    </script>
{% endblock %}