* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

html, body {
    height: 100%;
}

#wrapper {
    padding-top: 50px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -40px 0; /* the bottom margin is the negative value of the footer's height */
}

#content {
    margin-top: 20px;
}

.push {
    height: 40px; /* .push must be the same height as .footer */
}

#footer {
    width: 100%;
    height: 40px;
    background-color: #e6e6e6;
}

#footer p {
    line-height: 40px;
    margin: 0 30px 0 30px;
}

ul {
    list-style-type: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.audio-holder {
    border: 1px solid darkgray;
    height: 38px;
    padding: 3px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.file-icons ul {
    position:relative;
    list-style: none;
    margin: 0;
    padding: 0;
}


.file-icons ul li {
    position:relative;
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.file-icons ul li.closed-folder {
    position:relative;
}

.file-icons li.closed-folder:before {
font-family: 'FontAwesome';
content: '\f196';
margin:0 5px 0 -15px;
color: blue;
}

.file-icons ul li.open-folder {
    position:relative;
}

.file-icons li.open-folder:before {
font-family: 'FontAwesome';
content: '\f147';
margin:0 5px 0 -15px;
color: blue;
}

.file-icons ul li.found {
    color: green;
}

.file-icons ul li.found:before {
font-family: 'FontAwesome';
content: '\f058';
margin:0 5px 0 -15px;
color: green;
}

.file-icons ul li.insufficient-copies {
    color: red;
}

.file-icons ul li.insufficient-copies:before {
font-family: 'FontAwesome';
content: '\f071';
margin:0 5px 0 -15px;
color: red;
}

.file-icons ul li.mismatch {
    color: orange;
}

.file-icons ul li.mismatch:before {
font-family: 'FontAwesome';
content: '\f05e';
margin:0 5px 0 -15px;
color: orange;
}

.file-icons ul li.unexpected-duplicate {
    color: purple;
}

.file-icons ul li.unexpected-duplicate:before {
font-family: 'FontAwesome';
content: '\f122';
margin:0 5px 0 -15px;
color: purple;
}

.file-icons ul li.untracked {
    color: darkgray;
}

.file-icons ul li.untracked:before {
font-family: 'FontAwesome';
content: '\f059';
margin:0 5px 0 -15px;
color: darkgray;
}


.file-icons a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.file-icons a:hover {
    text-decoration: underline;
}

.progress-bar-warning {
    background-color: #f5870d;
}
