{% extends "core/base.html" %}
{% block title %}Project&nbsp;-&nbsp;{{ language.project.name }}&nbsp;-&nbsp;Prompt List&nbsp;-&nbsp;{{ language.name }}{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h3><a href="{% url "projects:project" project.pk %}">{{ project.name }}</a>&nbsp;<i>({{ language_type }})</i></h3>
            </div>
            {{ user.usersettings.creative_services }}
            <div class="col-xs-3">
                <a href="{% url "projects:voiceslots" project.pk %}?export=csv&language={{ language_type }}" class="btn btn-info btn-sm pull-right" style="width: 100%;">
                    <i class="fa fa-download fa-fw"></i>&nbsp;Report
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-xs-3">Name</th>
                        <th class="col-xs-5">Verbiage</th>
                        <th class="col-xs-1 text-center">Status</th>
                        {% if user.is_staff %}
                            <th class="col-xs-1 text-center">Out?</th>
                        {% endif %}
                        <th class="col-xs-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in slots %}
                        <tr>
                            <form method="POST" action="{% url "projects:voiceslots" project.pk %}?language={{ language_type }}">
                                {% csrf_token %}
                                <input type="hidden" name="vsid" value="{{ slot.pk }}">
                                <td>
                                    <span class="text-info" style="word-break: break-all;"><b>{{ slot.name }}</b></span><br>
                                    <span class="text-default" style="word-break: break-all;">Path:&nbsp;{{ slot.path }}</span><br>
                                    <span class="text-default" style="word-break: break-all;">Lang:&nbsp;{{ slot.language.name }}</span>
                                </td>
                                <td class="text-justify">{{ slot.verbiage }}</td>
                                <td class="text-center">{{ slot.status }}</td>
                                {% if user.is_staff %}
                                <td class="text-center">
                                    <input type="checkbox" name="is_checkedout"
                                           {% if slot.checked_out %}checked{% endif %}>
                                </td>
                                {% endif %}
                                <td>
                                    <div class="pull-right">
                                        <button type="submit" name="update_slot"
                                                class="btn btn-primary btn-xs">
                                            <i class="fa fa-refresh fa-fw"></i>
                                        </button>
                                        <button type="submit" name="retest_slot"
                                                class="btn btn-success btn-xs" {% if not project.bravo_server %}disabled {% endif %}>
                                            <i class="fa fa-play fa-fw"></i>
                                        </button>
{#                                    if user not in CS, PM, Superuser cannot delete slots#}
                                        {% if user.usersettings.creative_services or user.usersettings.project_manager or user.is_superuser %}
                                        <button type="button" name="delete_slot" onclick="deleteSlotConfirm('{{ slot.id }}', '{{ slot.name }}')"
                                                class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'projects/modal_delete_slot.html' %}

{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        {% include 'projects/projects.js' %}
    </script>
{% endblock %}