{% extends "core/base.html" %}
{% block title %}Projects - New{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h3>New Project</h3>
            </div>
            <div class="col-xs-4">
                <p id="throbber" hidden><i class="fa fa-spinner fa-2x fa-spin"></i> </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-6">
                <form action="{% url 'projects:new' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Project Name (required)</label>
                        {{ project_form.name }}
                    </div>
                    <div class="form-group">
                        <label for="bravo_path">Bravo Server Root Path (optional)</label>
                        {{ project_form.root_path }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload .xlsx File (optional, can upload later)</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <i class="fa fa-folder-open fa-fw"></i>{{ project_form.file }}
                                </span>
                            </span>
                            <input type="text" id="filenames" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="create_project" id="create_project" class="btn btn-primary" value="Create"
                               style="width: 150px; margin-top: 10px;">
                    </div>
                </form>
            </div>
            <div class="col-xs-3">

            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        $('#create_project').click(function () {
            setTimeout(function () {
                $('#throbber').show();
                $('#create_project').attr('disabled', 'disabled');
            }, 0);
        })
    </script>
{% endblock %}