{% extends "core/base.html" %}
{% block title %}Projects{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h3>Projects</h3>
            </div>
            <div class="col-xs-3">
                <a href="{% url "projects:new" %}" title="Add Project"
                   class="btn btn-success btn-sm pull-right" style="width: 100%;">
                    <i class="fa fa-plus fa-fw"></i>&nbsp;Project
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="{% if tab == 'my' %}active{% endif %}"><a href="{% url 'projects:projects' %}?tab=my">My Projects</a></li>
                    <li class="{% if tab == 'all' %}active{% endif %}"><a href="{% url 'projects:projects' %}?tab=all">All Projects</a></li>
                    <li class="{% if tab == 'archive' %}active{% endif %}"><a href="{% url 'projects:projects' %}?tab=archive">Archive</a></li>
                </ul>
            </div>
            <div class="col-xs-2">

            </div>
            <div class="form-group">
                <div class="col-xs-1">
                    <label for="select" class="control-label" style="line-height: 38px;">Sort by</label>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" id="select" onchange="sortHandler(this);">
                        <option value="project_name" {% if sort == 'project_name' %}selected{% endif %}>Project Name&nbsp;-&nbsp;Ascending</option>
                        <option value="-project_name" {% if sort == '-project_name' %}selected{% endif %}>Project Name&nbsp;-&nbsp;Descending</option>
                        <option value="created_date" {% if sort == 'created_date' %}selected{% endif %}>Created Date&nbsp;-&nbsp;Ascending</option>
                        <option value="-created_date" {% if sort == '-created_date' %}selected{% endif %}>Created Date&nbsp;-&nbsp;Descending</option>
                        <option value="last_modified" {% if sort == 'last_modified' %}selected{% endif %}>Last Modified&nbsp;-&nbsp;Ascending</option>
                        <option value="-last_modified" {% if sort == '-last_modified' %}selected{% endif %}>Last Modified&nbsp;-&nbsp;Descending</option>
                        <option value="total_prompts" {% if sort == 'total_prompts' %}selected{% endif %}>Total Prompts&nbsp;-&nbsp;Ascending</option>
                        <option value="-total_prompts" {% if sort == '-total_prompts' %}selected{% endif %}>Total Prompts&nbsp;-&nbsp;Descending</option>
                        <option value="user_count" {% if sort == 'user_count' %}selected{% endif %}>User Count&nbsp;-&nbsp;Ascending</option>
                        <option value="-user_count" {% if sort == '-user_count' %}selected{% endif %}>User Count&nbsp;-&nbsp;Descending</option>
                    </select>
                </div>
            </div>
        </div>
    <br>
        {% if projects %}
        {% for project in projects %}
            <div class="row">
                <div class="col-xs-10">
                    <h3 style="margin-bottom: 10px;"><a href="{% url "projects:project" project.pk %}">{{ project.name }}</a></h3>
                </div>
                <div class="col-xs-2">
                    {% if user.username not in project.usernames %}
                        <a href="{% url "projects:joinproject" project.pk %}?page=projects" class="btn btn-default btn-sm"
                           style="width: 100%;">
                            <i class="fa fa-link fa-fw"></i>&nbsp;Join Project
                        </a>
                    {% else %}
                        <a href="{% url "projects:leaveproject" project.pk %}?page=projects" class="btn btn-default btn-sm"
                           style="width: 100%;">
                            <i class="fa fa-unlink fa-fw"></i>&nbsp;Leave Project
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {% if project.slots_total > 0 %}
                        <div id="progress_{{ project.pk }}" class="progress" style="line-height: 20px; margin-bottom: 0px;">
                            {% if project.slots_passed %}
                                <div id="passed_bar_{{ project.pk }}" class="progress-bar progress-bar-success"
                                     style="width: {{ project.slots_passed_percent }}%; cursor: default;"
                                     data-toggle="tooltip" data-placement="top"
                                     title="{{ project.slots_passed }} passed">{{ project.slots_passed }}</div>
                            {% endif %}
                            {% if project.slots_failed %}
                                <div id="defective_bar_{{ project.pk }}" class="progress-bar progress-bar-warning"
                                     style="width: {{ project.slots_failed_percent }}%; cursor: default;"
                                     data-toggle="tooltip" data-placement="top"
                                     title="{{ project.slots_failed }} defective">{{ project.slots_failed }}</div>
                            {% endif %}
                            {% if project.slots_missing %}
                                <div id="missing_bar_{{ project.pk }}" class="progress-bar progress-bar-danger"
                                     style="width: {{ project.slots_missing_percent }}%; cursor: default;"
                                     data-toggle="tooltip" data-placement="top"
                                     title="{{ project.slots_missing }} missing">{{ project.slots_missing }}</div>
                            {% endif %}
                            {% if project.slots_untested %}
                                <div id="untested_bar_{{ project.pk }}" class="progress-bar progress-bar-info"
                                     style="width: {{ project.slots_untested_percent }}%; cursor: default;"
                                     data-toggle="tooltip" data-placement="top"
                                     title="{{ project.slots_untested }} untested">{{ project.slots_untested }}</div>
                            {% endif %}
                        </div>
                        <div id="total_prompts_{{ project.pk }}"><b>Total Prompts: {{ project.slots_total }}</b></div>
                    {% else %}
                        <div id="progress_{{ project.pk }}" class="progress" class="progress" style="line-height: 20px; margin-bottom: 0px;"
                             data-toggle="tooltip" data-placement="top"
                             title="No voiceslots yet"></div>
                        <div id="total_prompts_{{ project.pk }}"><b>Total Prompts: {{ project.slots_total }}</b></div>
                    {% endif %}
                </div>
                {% if user.username in project.usernames %}
                    <div class="col-xs-1 text-center">
                            <i class="fa fa-users fa-lg"></i><br><b>{{ project.users_total }}</b>
                    </div>
                    <div class="col-xs-2 text-center">
                            <b>Test</b><br>
                            {% if project.languages %}
                                {% for language in project.languages %}
                                    <a href="{% url "projects:queue" project.pk %}?language={{ language.name|lower }}">
                                        <b>{{ language.name|title }}</b>
                                    </a><br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                    </div>
                {% else %}
                    <div class="col-xs-3 text-center">
                            <i class="fa fa-users fa-lg"></i><br><b>{{ project.users_total }}</b>
                    </div>
                {% endif %}
                <div class="col-xs-3 text-right">
                    <b>Created Date: </b>00/00/0000 00:00&nbsp;AM<br>
                    <b>Last Modified: </b>00/00/0000 00:00&nbsp;PM
                </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
        {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-xs-12 text-center">
                    <br><br><br>
                    {% if tab == 'my' %}
                        <h4>You are not currently joined to any projects.</h4>
                    {% elif tab == 'all' %}
                        <h4>There are no active projects currently.</h4>
                    {% elif tab == 'archive' %}
                        <h4>There are no archived projects yet.</h4>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        var tabType = '{{ tab }}';
        var sortType = '{{ sort }}';

        function loadRecords(source, sort, page) {
            var s = (typeof sort === "undefined") ? null : sort;
            sortField = (s == null) ? ((sortField == null) ? "" : sortField) : sort;
            var pageNumber = (typeof page === "undefined") ? "" : ((page == null) ? "" : page);
{#            var url = "{% url 'projects' %}?source=" + source + "sort=" + sortField + "&page=" + pageNumber;#}
            var url = "{% url 'projects:projects' %}?source=" + source + "&sort=" + sortField;
            window.location.href = url;
        }

        function sortHandler(sel) {
            window.location.href = "{% url 'projects:projects' %}?tab=" + tabType + "&sort=" + sel.value;
        }

        {% for project in projects %}
            {% if project.slots_total > 0 %}
                {% if project.slots_passed %}
                    $('#passed_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_failed %}
                    $('#defective_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_missing %}
                    $('#missing_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_untested %}
                    $('#untested_bar_{{ project.pk }}').tooltip();
                {% endif %}
            {% else %}
                $('#progress_{{ project.pk }}').tooltip();
            {% endif %}
        {% endfor %}
        {% for project in projects %}
            {% if project.slots_total > 0 %}
                {% if project.slots_passed %}
                    $('#passed_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_failed %}
                    $('#defective_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_missing %}
                    $('#missing_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_untested %}
                    $('#untested_bar_{{ project.pk }}').tooltip();
                {% endif %}
            {% else %}
                $('#progress_{{ project.pk }}').tooltip();
            {% endif %}
        {% endfor %}

{#        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {#}
{#            console.log(e.target.getAttribute('data-source'));#}
{#            loadRecords(e.target.getAttribute('data-source'));#}
{#        });#}
    </script>
{% endblock %}