{% extends "core/base.html" %}
{% block title %}Projects{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h3>Projects</h3>
            </div>
            <div class="col-xs-3">
                <a href="{% url "projects:new" %}" title="Add Project"
                   class="btn btn-success btn-sm pull-right" style="width: 100%;">
                    <i class="fa fa-plus fa-fw"></i>&nbsp;Project
                </a>
            </div>
        </div>
        <hr>
        {% for project in joined_projects %}
            <div class="row">
                <div class="col-xs-6">
                    <h4><a href="{% url "projects:project" project.pk %}">{{ project.name }}</a></h4>

                {% if project.slots_total > 0 %}
                    <div class="progress">
                        {% if project.slots_passed %}
                        <div id="passed_bar_{{ project.pk }}" class="progress-bar progress-bar-success"
                             style="width: {{ project.slots_passed_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_passed }} passed">{{ project.slots_passed }}</div>
                        {% endif %}
                        {% if project.slots_failed %}
                        <div id="defective_bar_{{ project.pk }}" class="progress-bar progress-bar-warning"
                             style="width: {{ project.slots_failed_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_failed }} defective">{{ project.slots_failed }}</div>
                        {% endif %}
                        {% if project.slots_missing %}
                        <div id="missing_bar_{{ project.pk }}" class="progress-bar progress-bar-danger"
                             style="width: {{ project.slots_missing_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_missing }} missing">{{ project.slots_missing }}</div>
                        {% endif %}
                        {% if project.slots_untested %}
                        <div id="untested_bar_{{ project.pk }}" class="progress-bar progress-bar-info"
                             style="width: {{ project.slots_untested_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_untested }} untested">{{ project.slots_untested }}</div>
                        {% endif %}
                    </div>
                {% else %}
                    <div id="progress_{{ project.pk }}" class="progress" data-toggle="tooltip" data-placement="top" title="No voiceslots yet"></div>
                {% endif %}
                </div>
                <div class="col-xs-6">
                    <div class="pull-left">
                    {% if user.username in project.usernames %}
                        <b>Start Testing:</b><br>
                        {% for language in project.languages %}
                            <a href="{% url "projects:queue" project.pk %}?language={{ language.name|lower }}">
                                <b>{{ language.name }}</b>
                            </a><br>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="pull-right">
                        <b>Reports:</b>&nbsp;
                        <a href="{% url "reports:failed" project.pk %}"><i class="fa fa-file-text"></i>&nbsp;Failed</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{% url "reports:missing" project.pk %}"><i
                                class="fa fa-file-text"></i>&nbsp;Missing</a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        {% for project in unjoined_projects %}
            <div class="row">
                <div class="col-xs-6">
                    <h4><a href="{% url "projects:project" project.pk %}">{{ project.name }}</a></h4>

                {% if project.slots_total > 0 %}
                    <div class="progress">
                        {% if project.slots_passed %}
                        <div id="passed_bar_{{ project.pk }}" class="progress-bar progress-bar-success"
                             style="width: {{ project.slots_passed_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_passed }} passed">{{ project.slots_passed }}</div>
                        {% endif %}
                        {% if project.slots_failed %}
                        <div id="defective_bar_{{ project.pk }}" class="progress-bar progress-bar-warning"
                             style="width: {{ project.slots_failed_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_failed }} defective">{{ project.slots_failed }}</div>
                        {% endif %}
                        {% if project.slots_missing %}
                        <div id="missing_bar_{{ project.pk }}" class="progress-bar progress-bar-danger"
                             style="width: {{ project.slots_missing_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_missing }} missing">{{ project.slots_missing }}</div>
                        {% endif %}
                        {% if project.slots_untested %}
                        <div id="untested_bar_{{ project.pk }}" class="progress-bar progress-bar-info"
                             style="width: {{ project.slots_untested_percent }}%; cursor: default;" data-toggle="tooltip" data-placement="top" title="{{ project.slots_untested }} missing">{{ project.slots_untested }}</div>
                        {% endif %}
                    </div>
                {% else %}
                    <div id="progress_{{ project.pk }}" class="progress" data-toggle="tooltip" data-placement="top" title="No voiceslots yet"></div>
                {% endif %}
                </div>
                <div class="col-xs-6">
                    <div class="pull-left">
                    {% if user.username in project.usernames %}
                        <b>Start Testing:</b><br>
                        {% for language in project.languages %}
                            <a href="{% url "projects:queue" project.pk %}?language={{ language.name|lower }}">
                                <b>{{ language.name }}</b>
                            </a><br>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="pull-right">
                        <b>Reports:</b>&nbsp;
                        <a href="{% url "reports:failed" project.pk %}"><i class="fa fa-file-text"></i>&nbsp;Failed</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{% url "reports:missing" project.pk %}"><i
                                class="fa fa-file-text"></i>&nbsp;Missing</a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        {% for project in joined_projects %}
            {% if project.slots_total > 0 %}
                {% if project.slots_passed %}
                    $('#passed_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_failed %}
                    $('#defective_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_missing %}
                    $('#missing_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_untested %}
                    $('#untested_bar_{{ project.pk }}').tooltip();
                {% endif %}
            {% else %}
                $('#progress_{{ project.pk }}').tooltip();
            {% endif %}
        {% endfor %}
        {% for project in unjoined_projects %}
            {% if project.slots_total > 0 %}
                {% if project.slots_passed %}
                    $('#passed_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_failed %}
                    $('#defective_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_missing %}
                    $('#missing_bar_{{ project.pk }}').tooltip();
                {% endif %}
                {% if project.slots_untested %}
                    $('#untested_bar_{{ project.pk }}').tooltip();
                {% endif %}
            {% else %}
                $('#progress_{{ project.pk }}').tooltip();
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}