{% extends "core/base.html" %}
{% block title %}Project&nbsp;-&nbsp;{{ project.name }}{% endblock %}
{% load staticfiles %}
{% block headscript %}
    <style>
        .progress-bar-warning {
            background-color: goldenrod;
        }

        .progress-bar-info {
            background-color: gray;
        }
        .jira-tag {
            margin-left: 3em;
            width: 7em;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% if project %}
            <div class="row">
                <div class="col-xs-9">
                    <h3>{{ project.name }}&nbsp;<i></i></h3>
                </div>
                <div class="col-xs-3">
                    {% if user.username not in project.usernames %}
                        <a href="{% url "projects:joinproject" project.pk %}" class="btn btn-default btn-sm pull-right"
                           style="width: 100%;">
                            <i class="fa fa-link fa-fw"></i>&nbsp;Join Project
                        </a>
                    {% else %}
                        <a href="{% url "projects:leaveproject" project.pk %}" class="btn btn-default btn-sm pull-right"
                           style="width: 100%;">
                            <i class="fa fa-unlink fa-fw"></i>&nbsp;Leave Project
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-xs-12">
                {% if project.slots_total > 0 %}
                    <div id="progress_{{ project.pk }}" class="progress" style="line-height: 20px;">
                        <div id="passed_bar_{{ project.pk }}" class="progress-bar progress-bar-success"
                             style="width: {{ project.slots_passed_percent }}%; cursor: default;"
                             data-toggle="tooltip" data-placement="top"
                             title="{{ project.slots_passed }} passed">{{ project.slots_passed }}</div>
                        <div id="defective_bar_{{ project.pk }}" class="progress-bar progress-bar-warning"
                             style="width: {{ project.slots_failed_percent }}%; cursor: default;"
                             data-toggle="tooltip" data-placement="top"
                             title="{{ project.slots_failed }} defective">{{ project.slots_failed }}</div>
                        <div id="missing_bar_{{ project.pk }}" class="progress-bar progress-bar-danger"
                             style="width: {{ project.slots_missing_percent }}%; cursor: default;"
                             data-toggle="tooltip" data-placement="top"
                             title="{{ project.slots_missing }} missing">{{ project.slots_missing }}</div>
                        <div id="ready_bar_{{ project.pk }}" class="progress-bar progress-bar-default"
                             style="width: {{ project.slots_ready_percent }}%; cursor: default;"
                             data-toggle="tooltip" data-placement="top"
                             title="{{ project.slots_ready }} ready to test">{{ project.slots_ready }}</div>
                        <div id="new_bar_{{ project.pk }}" class="progress-bar progress-bar-info"
                             style="width: {{ project.slots_untested_percent }}%; cursor: default;"
                             data-toggle="tooltip" data-placement="top"
                             title="{{ project.slots_untested }} untested">{{ project.slots_untested }}</div>

                    </div>
                {% else %}
                    <div id="progress_{{ project.pk }}" class="progress" class="progress"
                         style="line-height: 20px; margin-bottom: 0px;"
                         data-toggle="tooltip" data-placement="top"
                         title="No voiceslots yet"></div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {% if languages %}
                    <label class="control-label" for="action_list">Project Actions</label>
                    <ul id="action_list" class="list-group">
                        {% if user.username in project.usernames and project.bravo_server %}
                        {% if not user.usersettings.creative_services and project.status == 'Testing' %}
                        <li class="list-group-item">
                            <b>Start Testing</b>
                            <ul>
                                {% for language in languages %}
                                    <li>
                                        <a href="{% url 'projects:queue' project.pk %}?language={{ language.name|lower }}">
                                            <b>{{ language.name | capfirst }}</b>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li class="list-group-item">
                            <a href="{% url "reports:report_project" project.id %}"><b>View Report</b></a>
                        </li>
                        {% if project.bravo_server %}
                            <li class="list-group-item" id="update-active-link">
                                <a href="#" onclick="project_update_file_status(event)"><b>Update File Statuses</b></a>
                            </li>
                            <li class="list-group-item hidden" id="update-disabled-link">
                                <b class="text-muted">Update File Statuses</b>
                                <i class="fa fa-spin fa-spinner" id="update_spinner"></i>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <form id="jira-form">
                                <input type="hidden" name="jira-key" value="{{ project.jira_key }}">
                                <input type="hidden" name="jira-version" value="">
                            </form>
                            <a href="#" onclick="sync_jira_tickets(event)"><b>Sync Jira tickets</b></a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'elpis:dashboard' project.pk %}"><b>Verify File
                            Transfer</b></a></li>
                        {% if project.status == 'Testing' %}
                            <li class="list-group-item">
                                <a href="{% url "projects:archive_project" project.pk %}" title="Archive Project"><b>Archive
                                    Project</b></a>
                            </li>
                        {% elif project.status == 'Closed' %}
                            <li class="list-group-item">
                                <a href="{% url "projects:archive_project" project.pk %}" title="Reactivate Project"><b>Reactivate
                                    Project</b></a>
                            </li>
                        {% endif %}
                        {% if project.status == 'Initial' and user.usersettings.creative_services or project.status == 'Initial' and user.is_superuser %}
                                <li class="list-group-item">
                                <a href="#" name="certify_project"><b>Certify Project</b></a>
                                </li>
                        {% endif %}
                    </ul>
                    <br>
                    <label class="control-label" for="language_list">Prompts by Language</label>
                    <ul id="language_list" class="list-group">
                        {% for language in languages %}
                            <li class="list-group-item" id="prompts-{{language.name}}">
                                <span class="badge">{{ language.voiceslot_count }}</span>
                                <a href="{% url "projects:voiceslots" project.pk %}?language={{ language.name|lower }}">
                                    <b>{{ language.name|capfirst }}</b>
                                </a>
                            </li>
                        {% endfor %}

                        <li class="list-group-item">
                            <span class="badge">{{ project.voiceslot_count }}</span>
                            <a href="{% url "projects:voiceslots" project.pk %}?language=master"><b>Total</b></a>
                        </li>
                    </ul>
                    <br>
                {% endif %}
                {% if project.users %}
                    <label class="control-label" for="tester_list">Testers</label>
                    <ul id="tester_list" class="list-group">
                        {% for user in project.users.all %}
                            <li class="list-group-item">
                                {{ user.username }}
                            </li>
                        {% endfor %}
                        <li class="list-group-item">
                            <span class="badge">{{ project.users.all.count }}</span>
                            <b>Total</b>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-xs-8">
                <form name="submit_to_server" action="{% url 'projects:project' project.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if user.is_superuser or user.usersettings.creative_services or user.usersettings.project_manager %}
                    <div class="form-group">
                        <label class="control-label">Upload Prompt List File (.xlsx format)</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label id="throbber" hidden><i class="fa fa-spinner fa-2x fa-spin"></i> </label>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <i class="fa fa-folder-open fa-fw"></i>{{ upload_form.file }}
                                </span>
                            </span>
                            <input type="text" id="filenames" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button type="submit" name="upload_file" id="upload_file" class="btn btn-primary">
                                    Upload
                                </button>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    {% if vuids %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-5">Filename</th>
                                    <th class="col-xs-5">Upload Date</th>
                                    <th class="col-xs-2">Upload By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vuid in vuids %}
                                    <tr>
                                        <td><a href="{% url "projects:vuid" project.pk vuid.pk %}">{{ vuid.filename }}</a></td>
                                        <td>{{ vuid.upload_date }}</td>
                                        <td>{{ vuid.upload_by.username }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <div class="clearfix"></div>
                    <hr>

                    <div class="form-group">
                        <label class="control-label">Bravo Server</label>
                        <div class="input-group">
                            {{ server_form.server }}
                            <span class="input-group-btn">
                                <button type="submit" name="update_server" class="btn btn-primary">
                                    Update
                                </button>
                            </span>
                        </div>
                    </div>
                    {% if project.update_file_status_last_time %}
                        <div>
                            <b>Last update file status time:</b> {{ project.update_file_status_last_time | date:'Y-m-j H:i:s'}}
                        </div>
                    {% endif %}

                    {% if project.bravo_server %}
                        <hr>
                        <div class="form-group">
                            <label class="content-label">Bravo Server Root Path</label>
                            <div class="input-group">
                                {{ root_path_form.root_path }}
                                <span class="input-group-btn">
                                    <button type="submit" name="update_root_path" class="btn btn-primary">
                                        Update
                                    </button>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="jira-project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Select Jira project</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12"><label>Enter Jira key<input class="form-control" name="jira-key-direct-input"></label></div>
                        <div class="col-md-6 col-sm-12"><label>Or, select from this list<select id="jira-key-select" class="form-control" name="jira-key-select"></select></label></div>
                    </div>
                    <div class="row">
                        <div id="errMessage" class="col-md-6 col-sm-12"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="setJiraProject()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="jira-version-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
{#                    <h4 class="modal-title">Select Jira version - {{ project.jira_key }}</h4>#}
                    <h4 class="modal-title" id="jira-version-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"><label>Available versions<select id="jira-version-select" class="form-control" name="jira-version-select"></select></label></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="setJiraVersion()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'projects/modal_suspend_testing.html' %}
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        {% if project.slots_total > 0 %}
            {% if project.slots_passed %}
                $('#passed_bar_' + {{ project.id }}).tooltip();
            {% endif %}
            {% if project.slots_failed %}
                $('#defective_bar_' + {{ project.id }}).tooltip();
            {% endif %}
            {% if project.slots_missing %}
                $('#missing_bar_' + {{ project.id }}).tooltip();
            {% endif %}
            {% if project.slots_ready %}
                $('#ready_bar_' + {{ project.id }}).tooltip();
            {% endif %}
            {% if project.slots_untested %}
                $('#new_bar_' + {{ project.id }}).tooltip();
            {% endif %}
        {% else %}
            $('#progress_' + {{ project.id }}).tooltip();
        {% endif %}

        $('#update_file_confirm').click(function () {
            setTimeout(function () {
                $('#update_file_throbber').show();
                $('#update_file_confirm').attr('disabled', 'disabled');
                $('#update_file_cancel').attr('disabled', 'disabled');
                $('#update_file_close').attr('disabled', 'disabled');
            }, 0);
        });
        $.getJSON('{% url "projects:project_progress" project.id %}', function(data){
            if ($("#update-disabled-link").hasClass("hidden") && data.running) {
                    $("#update-active-link").addClass("hidden");
                    $("#update-disabled-link").removeClass("hidden");
                }
        });

        function project_update_file_status(event) {
            event = $.event.fix(event);
            event.preventDefault();
            $("#update-active-link").addClass("hidden");
            $("#update-disabled-link").removeClass("hidden");
            $.ajax("{% url 'projects:initiate_status_update' project.pk %}",
                    {
                        type: "POST",
                        error: function() {
                            alert("An unexpected error occurred. Status update failed!");
                            $("#update-disabled-link").addClass("hidden");
                            $("#update-active-link").removeClass("hidden");
                        },
                        success: function(data) {
                            var json_data = $.parseJSON(data);
                            if (json_data.success == false)
                            {
                                bootstrapAlert("Another file status check is already running.", 'info');
                            }
                        }
                    }
            );
        }

        function sync_jira_tickets(event) {
            var project_id = $('#jira-form input[name="jira-key"]').val()
            if (project_id){
                var version = $('#jira-form input[name="jira-version"]').val()
                if (version) {
                    $.ajax("{% url 'jira:sync_tickets' %}", {
                        type: "POST",
                        data: {project_id: {{ project.id }}, version: $("#jira-form input[name='jira-version']").val()},
                        error: function() {
                            bootstrapAlert("Could not sync Jira tickets. Please click Contact below and report this. Please include this page's URL.", 'danger');
                        },
                        success: function() {
                            bootstrapAlert("Tickets will be synced in the background. The update should complete shortly.", 'success')
                        }

                    })
                }
                else {
                    $.ajax("{% url 'jira:versions' %}" + "?p=" + $('#jira-form input[name="jira-key"]').val(), {
                        type: "GET",
                        error: function() {
                            alert("Failed to get list of Jira versions");
                        },
                        success: function(data) {
                            $("#jira-version-title").html('Select Jira version - ' + project_id);
                            $("#jira-version-modal").modal('show');
                            var options = [];
                            var version_count = data.length;
                            for (var i= 0; i < version_count; i++) {
                                options[i] = '<option value="' + data[i] + '">' + data[i] + '</option>';
                            }
                            $("#jira-version-select").get(0).innerHTML = options.join('')
                        }
                    })
                }

            }
            else {
                $.ajax("{% url 'jira:project_list' %}", {
                    type: "GET",
                    error: function() {
                        bootstrapAlert("There was a problem fetching the project list from Jira. Please click the Contact link below and report this. Please include this page's URL and the Jira project you want to be associated with this testing effort.", 'danger');

                    },
                    success: function(data) {
                        var options = [];
                        var project_count = data.length;
                        for (var i= 0; i < project_count; i++) {
                            options[i] = '<option value="' + data[i].key + '">' + data[i].name + ' (' + data[i].key + ')' + '</option>';
                        }
                        $("#jira-key-select").get(0).innerHTML = options.join('')
                        $("#jira-project-modal").modal('show');
                    }
                })
            }

        }

        function setJiraKey(jira_key) {
            $.ajax("{% url 'jira:set_key' %}", {
                type: "POST",
                data: {
                    jira_key: jira_key,
                    project_id: {{project.id}}
                },
                success: function(data) {
                    $('#jira-form input[name="jira-key"]').val(jira_key);
                    bootstrapAlert('Jira project key set to ' + jira_key);
                    sync_jira_tickets();
                }
            });

            $("#jira-project-modal").modal('hide');
        }

        function setJiraProject() {

            var jira_key = $('#jira-project-modal input[name="jira-key-direct-input"]').val().toUpperCase();
            if (jira_key == '') {
                jira_key = $("#jira-key-select").val();
                setJiraKey(jira_key);
            } else {
                var jira_key_list = [];
                $.getJSON("{% url 'jira:project_list' %}").done(function(data){
                    for (var i = 0; i < data.length; i++) {
                        jira_key_list.push(data[i].key);
                    }
                    if (jira_key_list.indexOf(jira_key) >= 0) {
                        setJiraKey(jira_key);
                    } else {
                        $('#errMessage').html('Incorrect Jira Key');
                        return false;
                    }
                });
            }
        }

        function setJiraVersion() {
            $('#jira-form input[name="jira-version"]').val($("#jira-version-select").val())
            bootstrapAlert("Set version to " + $('#jira-form input[name="jira-version"]').val(), 'success');
            $("#jira-version-modal").modal('hide');
            sync_jira_tickets()
        }

        function bootstrapAlert(message, severity) {
            var body = '<div class="alert alert-dismissable alert-' + severity + '">';
            body += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
            body += message
            body += '</div>';
            $('#messages').append(body);
        }


        window.setInterval(function() {
            $.getJSON('{% url 'projects:project_progress' project.id %}', function(data){
                $('#passed_bar_' + {{ project.id }}).css('width', data['passed_percent'] + '%');
                $('#passed_bar_' + {{ project.id }}).html(data['passed']);
                $('#passed_bar_' + {{ project.id }}).attr('data-original-title', data['passed']+' passed');
                $('#passed_bar_' + {{ project.id }}).tooltip();

                $('#defective_bar_' + {{ project.id }}).css('width', data['failed_percent'] + '%');
                $('#defective_bar_' + {{ project.id }}).html(data['failed']);
                $('#defective_bar_' + {{ project.id }}).attr('data-original-title', data['failed']+' defective');
                $('#defective_bar_' + {{ project.id }}).tooltip();

                $('#missing_bar_' + {{ project.id }}).css('width', data['missing_percent'] + '%');
                $('#missing_bar_' + {{ project.id }}).html(data['missing']);
                $('#missing_bar_' + {{ project.id }}).attr('data-original-title', data['missing']+' missing');
                $('#missing_bar_' + {{ project.id }}).tooltip();

                $('#ready_bar_' + {{ project.id }}).css('width', data['ready_percent'] + '%');
                $('#ready_bar_' + {{ project.id }}).html(data['ready']);
                $('#ready_bar_' + {{ project.id }}).attr('data-original-title', data['ready']+' ready');
                $('#ready_bar_' + {{ project.id }}).tooltip();

                $('#new_bar_' + {{ project.id }}).css('width', data['new_percent'] + '%');
                $('#new_bar_' + {{ project.id }}).html(data['new']);
                $('#new_bar_' + {{ project.id }}).attr('data-original-title', data['new']+' new');

                if ($("#update-disabled-link").hasClass("hidden") && data.running) {
                    $("#update-active-link").addClass("hidden");
                    $("#update-disabled-link").removeClass("hidden");
                }
                else if ($("#update-active-link").hasClass("hidden") && !data.running) {
                    $("#update-disabled-link").addClass("hidden");
                    $("#update-active-link").removeClass("hidden");
                }
            })
        }, 5000);

        var upload_file = false;
        $(function() {
            $('form[name="submit_to_server"]').on('submit', function(e) {
                if (upload_file === true) {
                    event.preventDefault();
                    upload_file = false;
                    $('#modal_suspend_testing').modal('show');
                }
            });

            $("#upload_file").on('click', function(e) {
                upload_file = true;
            });

            $("#suspend_testing").on('click', function(e) {
                var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "upload_file").val("upload_file");
                $('form[name="submit_to_server"]').append($(input));
                $('form[name="submit_to_server"]').submit();
            })

            $('a[name="certify_project"]').on('click', function (e) {
                event.preventDefault();
                var jqxhr = $.post("{% url 'projects:certify' project.pk %}", function () {
                })
                        .done(function (data) {
                            var jsonData = JSON.parse(data);
                            var message = '';
                            if (jsonData['success'] === false) {
                                message += '<div class="alert alert-dismissable alert-danger">';
                                message += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
                                message += jsonData['reason'];
                                message += '</div>';
                            } else {
                                message += '<div class="alert alert-dismissable alert-success">';
                                message += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
                                message += "Project has been certified";
                                message += '</div>';
                            }
                            $('#messages').append(message);
                        })
                        .fail(function () {
                            var message = '<div class="alert alert-dismissable alert-danger">';
                            message += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
                            message += 'There was an error connecting to server';
                            message += '</div>';
                            $('#messages').append(message);
                        });
            });
        });

    </script>
{% endblock %}
