{% extends "core/base.html" %}
{% block title %}Project&nbsp;-&nbsp;Temp{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="well" style="background-color:transparent;">
                    <div class="pull-left">
                        <button type="button" class="btn btn-default" id="button_play"
                                onclick="buttonPlayPauseHandler('http://localhost:8000/echo/media/back_in_business.wav');"><i
                                class="fa fa-play"></i></button>
                        <button type="button" class="btn btn-default" id="button_stop"
                                onclick="buttonStopHandler();"><i
                                class="fa fa-stop"></i></button>
                    </div>
                    <div class="pull-right">
                        <div id="player_panel" class="pull-left" style="width: 100%; background-color: gainsboro;">
                            <div id="player_info" class="pull-left"></div>
                            <div id="player_time" class="pull-right"></div>
                        </div>
                        <br>
                        <label for="volume"><i class="fa fa-volume-down"></i></label>
                        <input id="volume" type="text" class="span2" value="5" data-slider-tooltip="hide"/>
                        <label for="volume"><i class="fa fa-volume-up"></i></label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-8">
                {#                <div id="InfoFile"></div>#}
                {#                <div id="InfoSound"></div>#}
                {#                <div id="InfoState"></div>#}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        id="player"
                        align="middle">
                    <param name="quality" value="high"/>
                    <embed src="{% static 'common/flash-wav-player/wavplayer.swf' %}?gui=none"
                           bgcolor="#ffffff"
                           name="player"
                           quality="high"
                           allowScriptAccess="always"
                           type="application/x-shockwave-flash"
                           pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
                </object>
            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        $('#volume').slider();
        init();
        $('#volume').slider()
                .on('slide', function (ev) {
                    var n = ev.value * 0.1;
                    setVolume(n);
                });
    </script>
{% endblock %}