{% extends "core/base.html" %}
{% block title %}Project&nbsp;-&nbsp;Temp{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    Temp&nbsp;<i><small>{{ browser }}</small></i>
                </h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <label>Using HTML5 Audio Control</label>

                <div class="audio-holder">
                    <!--[if gte IE 10]> -->
                    <audio id="player" controls src="http://localhost:8000/echo/media/back_in_business.wav"
                           type="audio/wav"
                           style="width:100%;">
                        IE support pending. Please use Firefox or Chrome.
                    </audio>
                    <![endif]-->
                    <!--[if IE]>
                    <embed src="http://localhost:8000/echo/media/back_in_business.wav"
                    <!--<![endif]-->
                </div>
            </div>
            <div class="col-xs-6">
                {% if browser == 'ie' %}
                    <bgsound id="sound"></bgsound>
                    <label>Using Background Sound</label>
                    <br>
                    <button class="btn btn-primary"
                            onclick="playSound('http://localhost:8000/echo/media/back_in_business.wav');">
                        <i class="fa fa-play"></i>
                    </button>
                {% else %}
                    <label>Using Jquery.JPlayer</label>
                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>

                    <div id="jp_container_1" class="jp-audio">
                        <div class="jp-type-single">
                            <div class="jp-gui jp-interface">
                                <a href="javascript:;" class="jp-play btn btn-primary" tabindex="1"><i
                                        class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-default"
                        onclick="doPlay('http://localhost:8000/echo/media/back_in_business.wav');"><i
                        class="fa fa-play"></i></button>
                <button class="btn btn-default"
                        onclick="doStop();"><i
                        class="fa fa-stop"></i></button>
                <div class="progress" style="height: 36px;">
                    <div id="player-progress" class="progress-bar" style="width: 0%;"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="InfoFile"></div>
                <div id="InfoSound"></div>
                <div id="InfoState"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        width="40"
                        height="40"
                        id="audio1"
                        align="middle">
                    <param name="quality" value="high"/>
                    <embed src="{% static 'common/flash-wav-player/wavplayer.swf' %}?gui=none"
                           bgcolor="#ffffff"
                           width="40"
                           height="40"
                           name="audio1"
                           quality="high"
                           allowScriptAccess="always"
                           type="application/x-shockwave-flash"
                           pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
                </object>
            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">

        $("#jquery_jplayer_1").jPlayer({
            ready: function (event) {
                $(this).jPlayer("setMedia", {
                    wav: "http://localhost:8000/echo/media/back_in_business.wav",
                    {#                    m4a: "http://jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",#}
                    {#                    oga: "http://jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"#}

                });
            },
            swfPath: "http://localhost:8000/static/common/jquery-jplayer/2.7.0/Jplayer.swf",
            supplied: "wav",
            wmode: "window",
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });

        var player = getPlayer('audio1');
        if (!player || !player.attachHandler) setTimeout(init, 100); // Wait for load
        else {
            player.attachHandler("progress", "FileLoad");
            player.attachHandler("PLAYER_LOAD", "SoundLoad");
            player.attachHandler("PLAYER_BUFFERING", "SoundState", "BUFFERING");
            player.attachHandler("PLAYER_PLAYING", "SoundState", "PLAYING");
            player.attachHandler("PLAYER_STOPPED", "SoundState", "STOPPED");
            player.attachHandler("PLAYER_PAUSED", "SoundState", "PAUSED");
            InfoState = document.getElementById('InfoState')
            Inform();
        }

        function playSound(url) {
            document.all.sound.src = url;
        }

    </script>
{% endblock %}