{% extends "core/base.html" %}
{% block title %}Projects&nbsp;-&nbsp;{{ slot.language.project.name }}&nbsp;-&nbsp;Test Voice Slot{% endblock %}
{% load staticfiles %}
{% block headscript %}
    <style>
        .player {
            margin: 0 0 0 0;
            padding: 0;
            background-color: #eceeec;
            border: solid black 1px;
            width: 124px;
            height: 124px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
        }

        .timer {
            margin: 0 0 0 0;
            padding: 0;
            position: absolute;
            font-size: 110px;
            width: 1em;
            height: 1em;
            top: 7px;
            left: 22px;
        }

        .timer > .percent {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            position: absolute;
            top: 1.05em;
            left: 0;
            width: 3.33em;
            font-size: 0.3em;
            text-align: center;
        }

        .timer > #slice {
            position: absolute;
            width: 1em;
            height: 1em;
            clip: rect(0px, 1em, 1em, 0.5em);
        }

        .timer > #slice.gt50 {
            clip: rect(auto, auto, auto, auto);
        }

        .timer > #slice > .pie {
            border: 0.1em solid #c0c0c0;
            position: absolute;
            width: 0.8em; /* 1 - (2 * border width) */
            height: 0.8em; /* 1 - (2 * border width) */
            clip: rect(0em, 0.5em, 1em, 0em);
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            border-radius: 0.5em;
        }

        .timer > #slice > .pie.fill {
            -moz-transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
            -o-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
        }

        .timer.fill > .percent {
            z-index: 2;
        }

        .timer.fill > #slice > .pie {
            border: solid grey 1px;
            background-color: cyan;
            width: 1em;
            height: 1em;
        }

        .timer.fill > .hole {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            z-index: 1;
            background-color: #eceeec;
            border: solid grey 1px;
            height: 80%;
            width: 80%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            left: 10%;
        }
    </style>
    <script type="text/javascript">
        var timer;
        var timerCurrent;
        var timerFinish;
        var timerSeconds;
        function drawTimer(percent){
            $('div.timer').html('<div class="hole"></div><div class="percent"></div><div id="slice"'+(percent > 50?' class="gt50"':'')+'><div class="pie"></div>'+(percent > 50?'<div class="pie fill"></div>':'')+'</div>');
            var deg = 360/100*percent;
            $('#slice .pie').css({
                '-moz-transform':'rotate('+deg+'deg)',
                '-webkit-transform':'rotate('+deg+'deg)',
                '-o-transform':'rotate('+deg+'deg)',
                'transform':'rotate('+deg+'deg)'
            });
            $('.percent').html(Math.round(percent)+'%');
        }
        function stopWatch(){
            var seconds = (timerFinish-(new Date().getTime()))/1000;
            if(seconds <= 0){
                drawTimer(100);
                clearInterval(timer);
                $('input[type=button]#watch').val('Start');
                alert('Finished counting down from '+timerSeconds);
            }else{
                var percent = 100-((seconds/timerSeconds)*100);
                drawTimer(percent);
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ slot.language.project.name }}&nbsp;{{ slot.language.name|title }}</h3>
            </div>
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="slot-id" value="{{ slot.pk }}">

            <div class="row">
                <div class="col-xs-6">
                    <h3 style="word-break: break-all;">{{ slot.name }}</h3>
                </div>
                <div class="col-xs-4">
                    {% if browser != "ie9" %}
                        <div class="player">
                        <div class="timer fill"><div class="hole"></div></div>
                        </div>
{#                        <div style="width: 160px;">#}
{#                        <div class="well" style="background-color:transparent;">#}
{#                            <div class="pull-left">#}
{#                                <div class="pull-control">#}
{#                                    <button type="button" class="btn btn-default" id="button_play"#}
{#                                            onclick="buttonPlayPauseHandler('{{ file }}');"><i#}
{#                                            class="fa fa-play"></i></button>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="pull-left" style="margin-left: 10px;">#}
{#                                <div id="player_panel" style="height: 38px; background-color: gainsboro; padding-left: 5px; padding-right: 5px;">#}
{#                                    <div id="player_info" class="text-right" style="font-size: smaller"></div>#}
{#                                    <div id="player_time" class="text-right" style="font-size: smaller"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        </div>#}
                    {% else %}
                        <!--[if gte IE 10]> -->
                        <audio controls src="{{ file }}" type="audio/wav">
                            IE support pending. Please use Firefox or Chrome.
                        </audio>
                        <![endif]-->
                        <!--[if IE]>
                        <embed src="{{ file }}"
                        <!-- <![endif]-->
                    {% endif %}
                </div>
                <div id="passfail" class="col-xs-2">
                    <div class="form-group pull-right" style="width: 100%;">
                    <div class="btn-group outcome" data-toggle="buttons" style="width: 100%;">
                        <label id="label-pass" class="btn btn-default pass" style="width: 50%;">
                            <input type="radio" id="pass" class="rg" name="slot_status" value="pass">Pass
                        </label>
                        <label id="label-fail" class="btn btn-default fail" style="width: 50%;">
                            <input type="radio" id="fail" class="rg" name="slot_status" value="fail">Fail
                        </label>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="verbiage">Verbiage</label>

                    <p id="verbiage" style="text-align: justify; font-size: larger;">{{ slot.verbiage }}</p>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label" for="notes">Notes</label>
                        <textarea class="form-control" rows="5" name="notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="history">History</label>

                    <div id="history">
                        {% for history in slot.history_list %}
                            <p>{{ history }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="submit" name="submit_test" class="btn btn-primary" style="width: 100%;">Save
                    </button>
                </div>
                <div class="col-xs-3">
                    <button type="submit" name="cancel_test" class="btn btn-default" style="width: 100%;">Cancel
                    </button>
                </div>
            </div>
        </form>
        <p><input type="button" id="watch" value="Start" /> count down from <input type="text" id="watch" size="2" value="2.25" /> seconds</p>
        {% if browser != "ie9" %}
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                id="player"
                name="audio1"
                align="middle">
            <param name="quality" value="high"/>
            <embed src="{% static 'common/flash-wav-player/wavplayer.swf' %}?gui=none"
                   bgcolor="#ffffff"
                   width="1000"
                   height="1000"
                   name="player"
                   quality="high"
                   allowScriptAccess="always"
                   type="application/x-shockwave-flash"
                   pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </object>
        {% endif %}
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        $("[name='test_result']").bootstrapSwitch();
        {% if browser != "ie9" %}
        $('#volume').slider();
        init();
        $('#volume').slider()
                .on('slide', function (ev) {
                    var n = ev.value * 0.1;
                    setVolume(n);
                });
        {% endif %}
        $(".rg").change(function () {
            if ($('input[name=slot_status]:checked', '#passfail').val() == 'pass') {
                $("#label-fail").removeClass('btn-danger');
                $("#label-fail").addClass('btn-default');
                $("#label-pass").removeClass('btn-default');
                $("#label-pass").addClass('btn-success');
            } else if ($('input[name=slot_status]:checked', '#passfail').val() == 'fail') {
                $("#label-pass").removeClass('btn-success');
                $("#label-pass").addClass('btn-default');
                $("#label-fail").removeClass('btn-default');
                $("#label-fail").addClass('btn-danger');
            }
        });
        $('button[name=submit_test]').on('click', function (event) {
            if (listened == false) {
                event.preventDefault();

                msg = '<div class="container">';
                msg += '<div class="alert alert-dismissable alert-danger">';
                msg += '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
                msg += 'Cannot save until entire file has played';
                msg += '</div>';
                msg += '</div>';
                $('#wrapper').prepend(msg);
            }
        });
        $('input[type=button]#percent').click(function(e){
            e.preventDefault();
            drawTimer($('input[type=text]#percent').val());
        });
        $('input[type=button]#size').click(function(e){
            e.preventDefault();
            $('.timer').css('font-size',$('input[type=text]#size').val()+'px');
        });
        $('input[type=button]#watch').click(function(e){
            e.preventDefault();
            if($('input[type=button]#watch').val() == 'Start'){
                $('input[type=button]#watch').val('Stop');
                timerSeconds = $('input[type=text]#watch').val();
                timerCurrent = 0;
                timerFinish = new Date().getTime()+(timerSeconds*1000);
                timer = setInterval('stopWatch()',50);
            }else{
                $('input[type=button]#watch').val('Start');
                clearInterval(timer);
            }
        });
        $('input[type=button]#watch').click();
    </script>
{% endblock %}