{% extends "core/base.html" %}
{% block title %}Projects&nbsp;-&nbsp;{{ slot.language.project.name }}&nbsp;-&nbsp;Test Voice Slot{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ slot.language.project.name }}&nbsp;-&nbsp;<i>({{ slot.language.name }})</i></h3>
            </div>
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="slot-id" value="{{slot.pk}}">
            <div class="row">
                <div class="col-xs-6">
                    <h3>{{ slot.name }}</h3>{{ file }}
                </div>
                <div class="col-xs-4">
                    <div class="well" style="background-color:transparent;">
                        <div class="pull-left">
                            <button type="button" class="btn btn-default" id="button_play"
                                    onclick="buttonPlayPauseHandler('{{ file }}');">
                                <i class="fa fa-play"></i></button>
                            <button type="button" class="btn btn-default" id="button_stop"
                                    onclick="buttonStopHandler();"><i
                                    class="fa fa-stop"></i></button>
                        </div>
                        <div class="pull-right">
                            <div id="player_panel" class="pull-left" style="width: 100%; background-color: gainsboro;">
                                <div id="player_info" class="pull-left">NONE</div>
                                <div id="player_time" class="pull-right">00/00</div>
                            </div>
                            <br>
                            <label for="volume"><i class="fa fa-volume-down"></i></label>
                            <input id="volume" type="text" class="span2" value="5" data-slider-tooltip="hide"/>
                            <label for="volume"><i class="fa fa-volume-up"></i></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group pull-right">
                        <input type="checkbox" name="test_result" data-animate="false" data-size="large"
                               data-on-color="success" data-off-color="danger" data-on-text="Pass" data-off-text="Fail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="verbiage">Verbiage</label>

                    <p id="verbiage" style="text-align: justify; font-size: larger;">{{ slot.verbiage }}</p>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label" for="notes">Notes</label>
                        <textarea class="form-control" rows="5" name="notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="history">History</label>

                    <div id="history">
                        {% for history in slot.history_list %}
                            <p>{{ history }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="submit" name="submit_test" class="btn btn-primary" style="width: 100%;">Submit
                    </button>
                </div>
                <div class="col-xs-3">
                    <button type="submit" name="cancel_test" class="btn btn-default" style="width: 100%;">Cancel
                    </button>
                </div>
            </div>
        </form>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                id="player"
                name="audio1"
                align="middle">
            <param name="quality" value="high"/>
            <embed src="{% static 'common/flash-wav-player/wavplayer.swf' %}?gui=none"
                   bgcolor="#ffffff"
                   name="player"
                   quality="high"
                   allowScriptAccess="always"
                   type="application/x-shockwave-flash"
                   pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </object>
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript">
        $("[name='test_result']").bootstrapSwitch();
        {#        document.getElementById('player').addEventListener("ended", function () {#}
        {#                    this.load();#}
        {#                }#}
        {#        );#}
        $('#volume').slider();
        init();
        $('#volume').slider()
                .on('slide', function (ev) {
                    var n = ev.value * 0.1;
                    setVolume(n);
                });
    </script>
{% endblock %}