{% block footer %}
    <div id="footer">
        <p class="text-right text-muted">
            v1.1.0 |
            Powered by Quality Engineering and Innovation |
            <i class="fa fa-bug text-primary"></i> <a href="http://jira.west.com/browse/PHEME">Report</a> |
            <i class="fa fa-question text-primary"></i> <a href="http://wicnet.west.com/SharedServices/Training/Training%20Wiki/Pheme.aspx">Help</a> |
            <i class="fa fa-envelope text-primary"></i> <a href="mailto:QEIInnovation@west.com; tjwill@west.com?subject=Pheme Feedback">Contact</a>
        </p>
    </div>
{% endblock %}