{% extends "core/base.html" %}
{% block title %}Settings - Servers{% endblock %}
{% load staticfiles %}
{% block headscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/core.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Settings</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="{% url "settings:servers" %}">Servers</a></li>
                    <li><a href="{% url "settings:servers_preprod" %}">Preprod Servers</a></li>
                    <li><a href="{% url "settings:users" %}">Users</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="tab_content" class="tab-content">
                <div class="tab-pane active">
                    <div class="col-xs-12">
                        <table class="table">
                            <tr>
                                <form method="POST" action="{% url "settings:servers" %}">
                                    {% csrf_token %}
                                    <td class="col-xs-3" style="border: none;">
                                        {{ server_form.name }}
                                        {% if server_form.name.errors %}
                                            <span class="text-danger">{{ server_form.name.errors|first }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="col-xs-3" style="border: none;">
                                        {{ server_form.address }}
                                        {% if server_form.address.errors %}
                                            <span class="text-danger">{{ server_form.address.errors|first }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="col-xs-3" style="border: none;">
                                        {{ server_form.account }}
                                        {% if server_form.account.errors %}
                                            <span class="text-danger">{{ server_form.account.errors|first }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="col-xs-2" style="border: none;"></td>
                                    <td class="col-xs-1" style="border: none;">
                                        <button type="submit" id="add_server" name="add_server"
                                                class="btn btn-success btn-sm" style="width: 100%;" title="Add Server">
                                            <i class="fa fa-plus fa-fw"></i>&nbsp;Server
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        </table>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-xs-3">Server Name</th>
                                <th class="col-xs-3">Server Address</th>
                                <th class="col-xs-3">Service Account</th>
                                <th class="col-xs-1">Active</th>
                                <th class="col-xs-2"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for server in servers %}
                                <tr>
                                    <form method="POST" action="{% url "settings:servers" %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="sid" value="{{ server.pk }}">
                                        <td>{{ server.name }}</td>
                                        <td>{{ server.address }}</td>
                                        <td>{{ server.account }}</td>
                                        <td>
                                            <input type="radio" value="is_active_{{ server.id }}" name="is_active"
                                                   {% if server.active %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <button type="submit" name="test_connection"
                                                        class="btn btn-primary btn-xs" title="Test Connection">
                                                    <i class="fa fa-play fa-fw"></i>
                                                </button>
                                                <button type="submit" name="update_active"
                                                        class="btn btn-primary btn-xs" title="Update Active">
                                                    <i class="fa fa-refresh fa-fw"></i>
                                                </button>
                                                <button type="submit" name="delete_server"
                                                        class="btn btn-danger btn-xs" title="Delete Server">
                                                    <i class="fa fa-trash-o fa-fw"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script type="text/javascript" src="{% static 'core/core.js' %}"></script>
    <script type="text/javascript">

    </script>
{% endblock %}