{% extends "core/base.html" %}
{% block title %}Settings - Users{% endblock %}
{% load staticfiles %}
{% block headscript %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'core/core.css' %}"/>#}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Settings</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li><a href="{% url "settings:servers" %}">Servers</a></li>
                    <li><a href="{% url "settings:servers_preprod" %}">Preprod Servers</a></li>
                    <li class="active"><a href="{% url "settings:users" %}">Users</a></li>
                    <li><a href="{% url "settings:dollar_dashboard_config" %}">Dollars Dashboard</a> </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="tab_content" class="tab-content">
                <div class="tab-pane active">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-xs-2">Username</th>
                                <th class="col-xs-1">First Name</th>
                                <th class="col-xs-1">Last Name</th>
                                <th class="col-xs-2">Last Login</th>
                                <th class="col-xs-1 text-center">Active</th>
                                <th class="col-xs-1 text-center">Staff</th>
                                <th class="col-xs-1 text-center">Creative Services</th>
                                <th class="col-xs-1 text-center">Project Manager</th>
                                <th class="col-xs-1 text-center">Superuser</th>
                                <th class="col-xs-1"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in users %}
                            {% if u.last_name %}
                                <tr>
                                    <form method="POST" action="{% url "settings:users" %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="uid" value="{{ u.pk }}">
                                        <td>{{ u.username }}</td>
                                        <td>{{ u.first_name }}</td>
                                        <td>{{ u.last_name }}</td>
                                        <td>{{ u.last_login }}</td>
                                        <td class="text-center">
                                            <input type="checkbox" name="is_active"
                                                   {% if u.is_active %}checked{% endif %}>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="is_staff"
                                                   {% if u.is_staff %}checked{% endif %}>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="is_cs"
                                                   {% if u.usersettings.creative_services %}checked{% endif %}>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="is_pm"
                                                   {% if u.usersettings.project_manager %}checked{% endif %}>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="is_superuser"
                                                   {% if u.is_superuser %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <button type="submit" id="update_user" name="update_user"
                                                        class="btn btn-primary btn-xs" title="Update User">
                                                    <i class="fa fa-refresh fa-fw"></i>
                                                </button>
                                                <button type="submit" id="delete_user" name="delete_user"
                                                        class="btn btn-danger btn-xs" title="Delete User"
                                                        {% if u.username == user.username %}disabled{% endif %}>
                                                    <i class="fa fa-trash-o fa-fw"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
{#    <script type="text/javascript" src="{% static 'core/core.js' %}"></script>#}
    <script type="text/javascript">

    </script>
{% endblock %}