{% extends "core/base.html" %}
{% block title %}Verify File Transfer{% endblock %}
{% load staticfiles %}
{% block headscript %}
    <script>
        function fetchLastResult(){
            $.post("{% url 'elpis:fetch' project.pk %}").done(function(data){
                if (data.length > 2) {
                    $("#file-structure-div div").html(data);
                }

            });
        }
        function pollStatus(){
            $.post("{% url 'elpis:check' project.pk %}").done(function(dataStr) {
                var data = $.parseJSON(dataStr)
                if (!data.running) {
                    if ($("#run-verify").is(':disabled')) {
                        fetchLastResult();
                        $("#run-verify").removeAttr("disabled");
                        $("#run-verify").html("Run");
                    }
                }
                else {
                    $("#run-verify").attr('disabled', 'disabled').html("Running...")
                }
            })
        }
        $(function() {
            $("#server-select-modal-form").on( "submit", function() {
                event.preventDefault();
                $.post("{% url 'elpis:set_server' project.pk %}", $("#server-select-modal-form").serialize()).done(function(data) {
                    $("#preprod-server-display").text("Preprod server: " + $("#preprod-server-select").find("option[value='" + $("#preprod-server-select").val() + "']").text())
                    $.each(data.paths, function( i, val) {
                        $('#preprod-path-select').append('<option value="' + val + '">' + val + '</option>');
                    });
                    $("#preprod-modal").modal('hide');
                    $("#preprod-path-modal").modal('show');
                });
            });
            $("#path-select-modal-form").on( "submit", function() {
                event.preventDefault();
                $.post("{% url 'elpis:set_path' project.pk %}", $("#path-select-modal-form").serialize()).done(function(data) {
                    $("#preprod-path-display").text("Preprod path: " + data.path);
                });
                $("#preprod-path-modal").modal('hide');
                $("#run-verify").removeAttr("disabled");
                $("#file-structure-div div").html('<p>Click Run to begin verification.</p>');
            });
            $("#run-verify").click( function(event){
                $.get("{% url 'elpis:verify' project.pk%}").done(function(data){
                    $("#run-applications-select").html("")
                    $.each(data.apps, function( i, val ) {

                        $("#run-applications-select").append('<option selected value="' + val + '">' + val + '</option>')
                    });
                    $('#run-applications-modal').modal('show');
                });

            });
            $("#run-applications-modal-form").on( "submit", function() {
                event.preventDefault();
                $("#run-verify").attr('disabled', 'disabled').html("Running...")
                $("#file-structure-div div").html('<i class="fa fa-spin fa-cog fa-2x"></i>');
                $('#run-applications-modal').modal('hide');
                $.post("{% url 'elpis:verify' project.pk %}", $("#run-applications-modal-form").serialize())
            });


            fetchLastResult();
            window.poll = setInterval(pollStatus, 4000);
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <!-- Start header row -->
                <h3>{{ project.name }} - Verify File Deployment</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">
                <!-- Start left column -->
                <label class="control-label" for="preprod-info">Preprod Information</label>
                <ul id="preprod-info" class="list-group">
                    <li class="list-group-item">
                        Source: {{project.bravo_server.name|default:"None"}}
                    </li>
                    <li class="list-group-item" id="preprod-server-display">
                        Destination: {{project.preprod_server.name|default:"None"}}
                    </li>
                    <li class="list-group-item" id="preprod-path-display">
                        Path: {{project.preprod_path|default:"Unknown"}}
                    </li>
                </ul>
                <input type="button" data-toggle="modal" data-target="#preprod-modal" value="Update Preprod Information" class="btn btn-primary">

            </div>
            <div class="col-xs-7" id="file-structure-div">
                <!-- Start right column -->
                <div>
                    {% if project.preprod_server and project.preprod_path %}
                    <p>Click Run to begin verification.</p>
                    {% else %}
                    <p>Update preprod information before running file deployment verification.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-1">
                <button id="run-verify" class="btn btn-primary" {% if not project.preprod_server or not project.preprod_path %}disabled{% endif %}>Run</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="preprod-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='server-select-modal-form' method="post" action="{% url 'elpis:set_server' project.pk %}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Update Preprod Information</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <label for="preprod-server-select">Preprod server:</label>
                        <select name="preprod-server" id="preprod-server-select" class="form-control">
                            {% for server in preprod_servers %}
                            <option value="{{server.pk}}">{{server.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="preprod-save" class="btn btn-primary">Select Server</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="preprod-path-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='path-select-modal-form' method="post" action="{% url 'elpis:set_path' project.pk %}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Select Preprod Path</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <label for="preprod-path-select">Preprod client paths:</label>
                        <select name="preprod-path" id="preprod-path-select" class="form-control">

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="preprod-path-save" class="btn btn-primary">Select Path</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="run-applications-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='run-applications-modal-form' method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Select Applications</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <p>The following applications were found on the server. Please select applications in scope for this project.</p>
                        <select multiple name="applications" id="run-applications-select" class="form-control">

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="run-applications-save" class="btn btn-primary">Select Applications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}