{% extends "core/base.html" %}
{% block title %}Verify File Transfer{% endblock %}
{% load staticfiles %}
{% block headscript %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Start header row -->
            <h3>{{ project.name }}</h3>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <!-- Start left column -->

            </div>
            <div class="col-xs-4">
                <!-- Start right column -->
            </div>
        </div>
    </div>
{% endblock %}